<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="app-shell">
    <th:block
            th:replace="/admin/fragments/sidebar :: sidebar('Customers')"
    ></th:block>

    <main class="dashboard">
        <div class="topbar">
            <h1>Customers</h1>
        </div>

        <div class="panel neo-card">
            <h2>Customers</h2>
            <div class="table-wrap">
                <table>
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="user : ${users}"
                        class="clickable-row">
                        <td th:text="${user.username}">Aung</td>
                        <td th:text="${user.email}">aung@gmail.com</td>
                        <td>
                            <span class="status approved" th:text="${user.role}">USER</span>
                        </td>

                    </tr>

                    <tr th:if="${#lists.isEmpty(users)}">
                        <td colspan="4">No users found.</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>



</body>
</html>